/* http://meyerweb.com/eric/tools/css/reset/ 
	 v2.0 | 20110126
	 License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
* === GENERAL STYLES ===
*/

/*
* — Fonts —
*/
$base__font--s: 1.1rem;
$base__font--m: 1.5rem;
$base__font--l: 1.9rem;
$base__font--xl: 2.5rem;

//headings
$h4__color: 1.4rem;


/*
* — Colors —
*/
$lightWhite: #fdf8f8;
$lightRose: #F0D6C4;
$lightPurple: #7D6167;
$purple: #563635;
$darkPurple: #412827;
$lightGreen: #A0A083;
$green: #90914F;
$darkGreen: #606133;
$textColor: #4b4a4a;

$borderRadius: 10px;
$boxShadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$subtleBoxShadow: 0 2px 4px 0 rgba(0,0,0,0.10);
$transition: 0.3s ease-out;

html, body {
	height: 100%;
}
body {
	font-style: 62,5%;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-align: center;
	box-sizing: border-box;
	color: $textColor;
}
h2 {
	font-size: $base__font--xl;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}
h3 {
	font-size: $base__font--l;
}
h4 {
	font-size: $base__font--m;
}
.h4__color {
	font-size: $h4__color;
	color: $green;
	text-transform: uppercase;
}

/*
* === GENERAL STYLES SHARED WITH PAGES
*/
.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	width: 100%;
	z-index: 9999;
	box-shadow: $subtleBoxShadow;
}
.header__logo {
	height: 100px;
	margin-top: 1.4rem;
	transition: $transition;
}
.header__scroll {
	background: white;
	.header__logo {
		height: 60px;
	}
	.header--home {
		background: $purple;
	}
	.nav__list {
		margin: 1rem auto;
	}
}
.button {
	border-radius: $borderRadius;
	border: none;
	padding: 1rem 2rem;
	font-size: $base__font--s;
	cursor: pointer;
}
.nav__link {
	margin: auto .7rem;
	font-size: $base__font--s;
	&:link, &:visited, &:active {
		text-decoration: none;
		color: $textColor;
	}
}
/*
* === HOMEPAGE STYLES ===
*/
/*
* === hero image ===
*/
.header--home {
	box-shadow: none;
	background: none;
}
.hero {
	background-image: url("../assets/pexels/couple-heart-dark.jpeg");
	background-size: cover;
	background-position: center center;
	height: 100vh;
	position: relative;
}
.nav__list {
	display: flex;
	margin: 2rem auto;
}
.nav__link--home {
	&:link, &:visited,  {
		color: $lightWhite;
	}
}
.hero__text {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 4rem 0rem;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	left: 50%;
	h1 {
	font-size: $base__font--xl;
	text-transform: uppercase;
	color: $lightWhite;
	}
}
.header__button {
	background: $lightWhite;
	color: #444040;
	margin-top: 2rem;
}
.social--hero {
	top: 90%;
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100%;
}
.social__img {
	height: 60px;
	padding: .4rem;
}

/*
* === mission section===
*/
.mission {
	margin: 3rem auto;
}

.mission__text {
	background: $lightWhite;
	z-index: 1;
	box-shadow: $boxShadow;
	padding: 3rem;
	line-height: 2.3rem;
}
.mission__img {
	background-image: url("../assets/pexels/couple.jpeg");
	background-position: center center;
	background-size: cover;
	align-self: flex-end;
	box-shadow: $boxShadow;
	height: 30rem;
}

/*
* === icon tiles section===
*/
.main-tiles {
	h4 {
		display: inline-block;
		color: $purple;
		margin: 2rem auto;
		padding-bottom: 2rem;
		border-bottom: 1px solid white;
	}
	p {
		font-size: $base__font--s;
	}
}
.icon-tiles__tile {
	padding: 4rem 2rem 6rem 2rem;
	transition: 0.3s ease-in-out;
}
.icon-tiles__tile:nth-child(even) {
	background: $purple;
	h4, p {
		color: white;
	}
}
.icon-tiles__img {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 80px;
}
.icon-tiles__img-one {
	background-image: url("../assets/icons/bouquet.svg");
}
.icon-tiles__img-two {
	background-image: url("../assets/icons/church-hover.svg");
}
.icon-tiles__img-three {
	background-image: url("../assets/icons/wedding-cake.svg");
}
.icon-tiles__img-four {
	background-image: url("../assets/icons/camera-hover.svg");
	height: 70px;
}

/*
* === banner section ===
*/
.banner {
	background-image: url("../assets/pexels/banner-bg.jpeg");
	background-position: center;
	height: 30rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	h2 {
		margin-bottom: 1.5rem;
	}
}

.banner__button {
	background: $green;
	color: $lightWhite;
}

/*
* === SERVICES STYLES ===
*/
.services__content {
	padding-top: 20rem;
}
.timeline {
	top: 5rem;
	position: relative;
	max-width: 800px;
	margin: 0 auto;
}
.timeline__img {
	height: 80px;
	margin-bottom: 1.5rem;
}
.timeline__content {
	padding: 2rem;
}
.timeline::after {
	content: "";
	width: 7px;
	background: $lightGreen;
	position: absolute;
	bottom: 0;
	top: 0;
	left: 50%;
	border-radius: 10px;
}
.timeline__container {
	position: relative;
	width: 50%;
	border-radius: 8px;
}
.timeline__container::after {
	content: '';
	position: absolute;
	width: 30px;
	height: 30px;
	background: white;
	border-radius: 50%;
	border: 3px solid $lightPurple;
	top: 10px;
	right: -52px;
	z-index: 1;
}
.timeline__left__container {
	left: 0;
	background: $lightWhite;
}
.timeline__right__container {
	left: 50%;
	background: $darkGreen;
	color: $lightWhite;
}
.timeline__right__container::after {
	left: -48px;
}

@media screen and (max-width: 880px) {
	.timeline {
		margin: 0 2rem;
	}
	.timeline__container {
		width: 100%;
	}
	.timeline__right__container {
		left: 0;
		margin: 1.3rem auto;
	}
	.timeline::after {
		display: none;
	}
	.timeline__container::after {
		display: none;
	}
}

@media screen and (min-width: 881px) {
	.timeline__left__container {
		margin-left: -2rem;
	}
	.timeline__left__container::before {
		content: '';
		height: 0;
		width: 0;
		top: 12px;
		right: -10px;
		position: absolute;
		z-index: 1;
		border: medium solid $lightWhite;
		border-width:  15px 0 15px 15px;
		border-color:  transparent transparent transparent $lightWhite;
	}
	.timeline__right__container {
		margin-left: 2rem;
	}
	.timeline__right__container::before {
		content: '';
		height: 0;
		width: 0;
		top: 10px;
		left: -10px;
		position: absolute;
		z-index: 1;
		border: medium solid $darkGreen;
		border-width:  15px 15px 15px 0px;
		border-color:  transparent  $darkGreen transparent transparent;
	}
}


/*
* === MEDIA QUERIES ===
*/
@media screen and (min-width: 841px) {
	.nav__link {
		font-size: $base__font--m;
	}
	.icon-tiles__wrapper {
	display: flex;
	}
	.icon-tiles__tile {
		width: 25%;
	}
	.icon-tiles__img-two {
	background-image: url("../assets/icons/church.svg");
}
.icon-tiles__img-four {
	background-image: url("../assets/icons/camera.svg");
	height: 70px;
}
	.icon-tiles__one:hover {
		.icon-tiles__img-one {
			background-image: url("../assets/icons/bouquet-hover.svg");
		}
	}
	.icon-tiles__two:hover {
		.icon-tiles__img-two {
			background-image: url("../assets/icons/church-hover.svg");
		}
	}
	.icon-tiles__three:hover {
		.icon-tiles__img-three {
			background-image: url("../assets/icons/wedding-cake-hover.svg");
		}
	}
	.icon-tiles__four:hover {
		.icon-tiles__img-four {
			background-image: url("../assets/icons/camera-hover.svg");
		}
	}
	.icon-tiles__tile:nth-child(even) {
	background: none;
		h4 {
			color: $purple;
		}
	}
	.icon-tiles__tile {
	border-radius: $borderRadius;
	&:hover {
		background: $purple;
		h4, p {
			color: $lightWhite; 
		}
	}
}
	.icon-tiles__camera {
		.img {
			height: 30px;
		}
	}

	.button {
		font-size: $base__font--m;
	}
	.main-tiles {
		p {
			color: transparent;
		}
	}

}
@media screen and (min-width: 1087px) {
	.mission {
		display: flex;
		justify-content: center;
		height: 40rem;
	}
	.mission__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 45%;
		margin-right: -3rem;
		height: 30rem;
		font-size: 1.3rem;
	}
	.mission__img {
		width: 45%;
	}
	.social--hero {
		position: absolute;
		top: 0;
		right: 0;
		z-index: -1;
		flex-direction: column;
		margin-right: 4rem;
		width: auto;
	}
}